<html>
    <head>
        <title>Home Automation</title>
        <script type="application/javascript">
            const get_settings_url = "{{get_settings_url}}"
            const save_settings_url = "{{save_settings_url}}"
        </script>
        <script src="{{ url_for('static',filename='adminPanel.js') }}"> </script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/adminPanel.css') }}">
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0">
    </head>
    <body onload="onLoad()">
        <h1>Kurtz Home Admin Panel</h1>
        <h2>Solar Shades</h2>
        <div class="section">
            <h3>Status</h3>
            <p>
                <table cellspacing="5">
                    <tr>
                        <td class="labelCell">lastAzm</td><td><b><span id="lastAzm"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastAlt</td><td><b><span id="lastAlt"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastCondition</td><td><b><span id="lastCondition"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">validateShadeState</td><td><b><span id="validateShadeState"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastInArea</td><td><b><span id="lastInArea"></span></b></td>
                    </tr>                    
                </table>
            </p>
        </div>
        <div class="section">
            <h3>Paramters</h3>
            <p>
                <table>
                    <tr>
                        <td>Morning Azimuth (startAzm)</td><td><input type="text" name="startAzm"/></td>
                    </tr>
                    <tr>
                        <td>Morning Altitude (startAlt)</td><td><input type="text" name="startAlt"/></td>
                    </tr>
                    <tr>
                        <td>Afternoon Azimuth (endAzm)</td><td><input type="text" name="endAzm"/></td>
                    </tr>
                    <tr>
                        <td>Afternoon Altitude (endAlt)</td><td><input type="text" name="endAlt"/></td>
                    </tr>
                    <tr>
                        <td>History Length for Condition Averages (conditionHistoryLength)</td><td><input type="text" name="conditionHistoryLength"/></td>
                    </tr>
                </table>
                <button name="saveSolar" onclick="saveSettings()">Save</button>
            </p>
        </div>
        <div class="section">
            <h3>Condition History</h3>
            <p>
                
            </p>
        </div>
    </body>
</html>