<html>
    <head>
        <title>Home Automation Scheduler - Admin</title>
        <script type="application/javascript">
            const get_settings_url = "{{get_settings_url}}"
            const save_settings_url = "{{save_settings_url}}"
            const Http = new XMLHttpRequest();

            function onLoad() {
                Http.open("GET", get_settings_url);
                Http.onreadystatechange = function() {
                    if (Http.readyState === XMLHttpRequest.DONE && Http.status === 200) {
                        response = JSON.parse(Http.responseText);

                        document.getElementsByName('startAzm')[0].value = response['startAzm'];
                        document.getElementsByName('endAzm')[0].value = response['endAzm'];
                        document.getElementsByName('startAlt')[0].value = response['startAlt'];
                        document.getElementsByName('endAlt')[0].value = response['endAlt'];

                        document.getElementById('lastAzm').innerHTML = response['lastAzm'];
                        document.getElementById('lastAlt').innerHTML = response['lastAlt'];
                        document.getElementById('lastCondition').innerHTML = response['lastCondition'];
                        document.getElementById('validateShadeState').innerHTML = response['validateShadeState'];
                        document.getElementById('lastInArea').innerHTML = response['lastInArea'];
                    }
                }
                Http.send();
            }

            function saveSettings() {
                let startAzm = document.getElementsByName('startAzm')[0].value;
                let endAzm = document.getElementsByName('endAzm')[0].value;
                let startAlt = document.getElementsByName('startAlt')[0].value;
                let endAlt = document.getElementsByName('endAlt')[0].value;

                let queryString = `?startAzm=${startAzm}&endAzm=${endAzm}&startAlt=${startAlt}&endAlt=${endAlt}`
                let full_save_settings_url = save_settings_url + queryString;

                Http.open("GET", full_save_settings_url);
                Http.onreadystatechange = function() {
                    if (Http.readyState === XMLHttpRequest.DONE && Http.status === 200) {
                        alert('Saved Successfully')
                    }
                }
                Http.send();
            }
            
        </script>
    </head>
    <body onload="onLoad()">
        <h1>Scheduler - Admin Panel</h1>
        <h2>Solar Shades</h2>
        <h3>Status</h3>
        <p>
            lastAzm: <b><span id="lastAzm"></span></b><br>
            lastAlt: <b><span id="lastAlt"></span></b><br>
            lastCondition: <b><span id="lastCondition"></span></b><br>
            validateShadeState: <b><span id="validateShadeState"></span></b><br>
            lastInArea: <b><span id="lastInArea"></span></b>
        </p>
        <h3>Paramters</h3>
        <p>
            Morning Azimuth (startAzm):<input type="text" name="startAzm"/><br>
            Afternoon Azimuth (endAzm):<input type="text" name="endAzm"/><br>
            Morning Altitude (startAlt):<input type="text" name="startAlt"/><br>
            Afternoon Altitude (startAlt):<input type="text" name="endAlt"/><br>
            <button name="saveSolar" onclick="saveSettings()">Save</button>
        </p>
    </body>
</html>