<html>
    <head>
        <title>Home Automation</title>
        <script type="application/javascript">
            const get_settings_url = "{{get_settings_url}}"
            const save_settings_url = "{{save_settings_url}}"
            const condition_history_url = "{{condition_history_url}}"
            const distinct_conditions_url = "{{distinct_conditions_url}}"
            const ticktock_status_url = "{{ticktock_status_url}}"
            const ticktock_stop_url = "{{ticktock_stop_url}}"
            const ticktock_start_url = "{{ticktock_start_url}}"
        </script>
        <script src="{{ url_for('static',filename='adminPanel.js') }}?v=2"> </script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/adminPanel.css') }}?v=1">
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0">
    </head>
    <body onload="onLoad()">
        <h1>Kurtz Home Admin Panel</h1>
        <h2>Solar Shades</h2>
        <div class="section">
            <h3>Status</h3>
            <p>
                <table cellspacing="5">
                    <tr>
                        <td class="labelCell">lastAzm</td><td><b><span id="lastAzm"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastAlt</td><td><b><span id="lastAlt"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastCondition</td><td><b><span id="lastCondition"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">validateShadeState</td><td><b><span id="validateShadeState"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastInArea</td><td><b><span id="lastInArea"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">lastChangeDate</td><td><b><span id="lastChangeDate"></span></b></td>
                    </tr>
                    <tr>
                        <td class="labelCell">tickTock</td><td><b><span id="tickTock"></span><button name="ticktockStart" onClick="startTicktock()">Start</button><button name="ticktockStop" onClick="stopTicktock()">Stop</button></b></td>
                    </tr>      
                </table>
            </p>
        </div>
        <div class="section">
            <h3>Condition History</h3>
            <p>
                <table id="historyTable">

                </table>
            </p>
        </div>
        <div class="section">
            <h3>Settings</h3>
            <p>
                <table>
                    <tr>
                        <td>Override</td><td><input type="checkbox" name="override" id="override" /></td>
                    </tr>
                    <tr>
                        <td>Morning Azimuth (startAzm)</td><td><input type="text" name="startAzm"/></td>
                    </tr>
                    <tr>
                        <td>Morning Altitude (startAlt)</td><td><input type="text" name="startAlt"/></td>
                    </tr>
                    <tr>
                        <td>Afternoon Azimuth (endAzm)</td><td><input type="text" name="endAzm"/></td>
                    </tr>
                    <tr>
                        <td>Afternoon Altitude (endAlt)</td><td><input type="text" name="endAlt"/></td>
                    </tr>
                    <tr>
                        <td>Lux Threshold for Blinds State Change - Camera (luxThresh)</td><td><input type="text" name="luxThresh"/></td>
                    </tr>
                    <tr>
                        <td>Solar Threshold for Blinds State Change - Panels (solarThresh)</td><td><input type="text" name="solarThresh"/></td>
                    </tr>
                    <tr>
                        <td>History Length for Condition Averages (conditionHistoryLength)</td><td><input type="text" name="conditionHistoryLength"/></td>
                    </tr>
                    <tr>
                        <td>Change Buffer Durations in Seconds (changeBufferDurationSec)</td><td><input type="text" name="changeBufferDurationSec"/></td>
                    </tr>
                    <tr>
                        <td>Upper Altitude for Weight Scaling (upperAlt)</td><td><input type="text" name="upperAlt"/></td>
                    </tr>
                    <tr>
                        <td>Upper Altitude Applied Weight Percent (upperAltPer)</td><td><input type="text" name="upperAltPer"/></td>
                    </tr>
                    <tr>
                        <td>Lower Altitude for Weight Scaling (lowerAlt)</td><td><input type="text" name="lowerAlt"/></td>
                    </tr>
                    <tr>
                        <td>Lower Altitude Applied Weight Percent (lowerAltPer)</td><td><input type="text" name="lowerAltPer"/></td>
                    </tr>
                    <tr>
                        <td>Conditions Check Refresh Interval (ticktockInterval)</td><td><input type="text" name="ticktockInterval"/></td>
                    </tr>
                    <tr>
                        <td><h4>Conditon Mapping</h4></td><td></td>
                    </tr>
                    <tr>
                        <td class="labelCell">
                            Blinds Close<br/>
                            <select size="7" multiple id="closeBlindsCon">

                            </select><br/>
                            <button name="sendToOpen" onclick="moveToOpen()">></button>
                        </td>
                        <td>
                            Blinds Open<br/>
                            <select size="7" multiple id="openBlindsCon">

                            </select><br/>
                            <button name="sendToClose" onclick="moveToClose()"><</button>
                        </td>
                    </tr>
                </table>
                <button name="saveSolar" onclick="saveSettings()">Save</button>
            </p>
        </div>
    </body>
</html>